body {
  text-align: center;
  font-size: 35px;
  font-family: 'Titillium Web';
  background-color: #282828;
}
main{
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  border-radius: 1em;
}
form
{
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    margin: 20px;
    padding-bottom: 20px;
}
div#formDiv{
  padding-top: 1em;
  background-color: orange;
  width: 50%;
  border-radius: 1em;
}
footer{
  padding: 2em;
  background-color: white;
}
h1
{
  background-color: orange;
  border-radius: 1em;
}
h3
{
    background-color: orange;
    border-radius: .3em;
    padding-left: .15em;
    padding-right: .15em;
}
hr
{
    border-top: 1px solid #c0c0c0;
}
table
{
    background-color: orange;
    border-radius: 1em;
}
tr:nth-child(even)
{
    background-color: rgb(255, 188, 62);
    border-radius: 1em;
}
tbody tr:last-child td:last-child
{
    border-radius: 0 0 1em 0;
}
.wrapper
{
  /*font-family: 'Titillium Web';
  background-color: black;
  text-align: center;
  text-size: 40px;
  background-image: url("logo.png");*/
}
html
{
  background-color: #282828;
}
.buffer-top
{
    margin-top: 20px;
}
.buffer-bottom
{
    margin-bottom: 20px;
}
.btn-logout
{
    background-color: orangered;
}